<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!-- Debug publish: ensure stable antiforgery keys (mirrors Web.config for F5/IIS Express). -->
    <machineKey
      validationKey="C6BDBE48F9CD374122D5EFA43D38A2FF51CD8B667EAA9711BCDAF80D62A57C2110BC4E8C38FD3963A276E99034BB442056AF67BECCF244A830E714ABE81CA569"
      decryptionKey="8D51F80C9B4F82AFE1FE59409ADABD1D1684AA732F35F99FCD7D0C20F965A98C"
      validation="HMACSHA256"
      decryption="AES"
      xdt:Transform="InsertIfMissing" />
  </system.web>
</configuration>
